@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Oculta la barra de scroll pero mantiene el scroll funcional */
.task-list-scroll-hidden::-webkit-scrollbar {
	display: none;
}
.task-list-scroll-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
